.header-container {
    background: $blue;
    width: 100%;
    height: 9rem;

    .nav {
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        flex-flow: row;
        padding: 1rem 0rem;

        &_logo-container {

            height:auto;

            img{
            	@include logo1();
            }


        }

        &_container{

        	&-list{
        		display: -webkit-flex;
        		display: -moz-flex;
        		display: -ms-flex;
        		display: -o-flex;
        		display: flex;
        		flex-flow: row-reverse;
        		width:100%;

        		&-item a{
        			@include Navfont();

        		}
        	}
        }
    }

}