
// Colors
$blue: #0E3757;
$cream: #E9F0E5;

//Grid
$grid-width: 125rem;
$gutter-vert: 2rem;
$gutter-hor: 2rem;

//Font
$font-fam-style:'Hind', sans-serif;
$font-base-size:2rem;
$font-size-h1:3rem;
$font-size-h2:2.5rem;
$font-size-p:1.5rem;
$font-base-line-height:6rem;
$font-base-line-height2:3rem;

//Logo 
$logo-img1:url(../img/LogoFrequenza.png);

//margin
$nav-left-margin:5rem;

//Imágenes
$background:url(../img/flyer1.jpg);
$konrad:url(../img/konrad.png);
$afriqua:url(../img/afriqua.jpg);